.App {
  text-align: center;
}

body {
  background-color: #282846;
}

.lightContainer {
  display: flex;
  overflow: scroll;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 200px;
  border: solid 3px #4A47A3;
  border-radius: 25px;
  padding: 20px;
  margin: 300px auto
}
.lightContainer::-webkit-scrollbar {
  display: none;
}